{% extends "auctions/layout.html" %}

{% block body %}
    <!--
        This is a navigation bar for the categories 
    --> 
    <nav class="category-choice">
        <a class="nav-choice" href="{% url 'index' %}">All listings</a> 
        {% for category in categories %}
        <a class="nav-choice">   |   </a><a class="nav-choice" href="{% url 'category' category %}">{{category}}</a> 
        {% endfor %}
    </nav>

    <h2 class="title">{{current_category}}</h2>

    <!--
        This is a horizontal card with a picture
    -->
    {% for listing in auction_listing %}
    <div class="card mb-3 p-3 col-sm-9">
        <div class="row no-gutters">
            {% if listing.image %}
            <div class="col-sm-3">
                <img class="image-card"src={{ listing.image.url }} class="card-img" alt="...">
            </div>
            {% endif %}
            <div class="col-sm-9">
                <div class="card-body">
                    <h4 class="card-title">{{listing.name}}</h4>
                    <h6 class="card-title">Price: {{listing.price}} $</h6>
                    <p class="card-text">{{listing.discription}}</p>
                    <a href="{% url 'listing' listing.id %}" class="stretched-link">Show More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
    <hr>

    {% for listing in closed_listing %}
    <div class="card mb-3 p-3 col-sm-9">
        <div class="row no-gutters">
            {% if listing.image %}
            <div class="col-sm-3">
                <img class="image-card" src={{ listing.image.url }} class="card-img" alt="...">
            </div>
            {% endif %}
            <div class="col-sm-9">
                <div class="card-body">
                    <h4 class="card-title">{{listing.name}}<span style="color: rgb(176, 18, 18);"> Closed </span></h4>
                    <h6 class="card-title">Price: {{listing.price}} $</h6>
                    <p class="card-text">{{listing.discription}}</p>
                    <a href="{% url 'listing' listing.id %}" class="stretched-link">Show More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
{% endblock %} 